absl-py==2.2.2
accelerate==1.7.0
addict==2.4.0
aiofiles==24.1.0
aliyun-python-sdk-core==2.16.0
aliyun-python-sdk-kms==2.16.5
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.9.0
asttokens==3.0.0
attrs==25.3.0
bitsandbytes==0.45.5
black==25.1.0
blinker==1.9.0
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.0
cloudpickle==3.1.1
colorama==0.4.6
comm==0.2.2
ConfigArgParse==1.7
contourpy==1.3.2
crcmod==1.7
cryptography==44.0.3
cycler==0.12.1
dam @ git+https://github.com/NVlabs/describe-anything@0445cd56e6a60a151f64b2fc002cc78d2fb607a9
dash==3.0.4
debugpy==1.8.14
decorator==5.2.1
-e git+https://github.com/facebookresearch/detectron2.git@536dc9d527074e3b15df5f6677ffe1f4e104a4ab#egg=detectron2
distro==1.9.0
exceptiongroup==1.3.0
executing==2.2.0
faiss-cpu==1.11.0
fastapi==0.115.13
fastjsonschema==2.21.1
ffmpy==0.6.0
filelock==3.14.0
files-to-prompt-ext==0.6.4.2
Flask==3.0.3
fonttools==4.58.0
fsspec==2024.6.1
ftfy==6.3.1
fvcore==0.1.5.post20221221
gradio==5.34.2
gradio_client==1.10.3
groovy==0.1.2
grpcio==1.71.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.31.2
hydra-core==1.3.2
idna==3.10
imageio==2.37.0
importlib_metadata==8.7.0
iopath==0.1.9
ipykernel==6.29.5
ipython==8.36.0
ipywidgets==8.1.7
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.4
jiter==0.10.0
jmespath==0.10.0
joblib==1.5.0
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_widgets==3.0.15
kiwisolver==1.4.8
lightning-utilities==0.14.3
lz4==4.4.4
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.10.3
matplotlib-inline==0.1.7
mdurl==0.1.2
mmcv==2.2.0
mmengine==0.10.7
model-index==0.1.11
mpmath==1.3.0
MultiScaleDeformableAttention==1.0
munch==4.0.0
mypy_extensions==1.1.0
narwhals==1.39.0
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
numpy==1.26.4
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-nccl-cu11==2.20.5
nvidia-nvtx-cu11==11.8.86
ollama==0.4.8
omegaconf==2.3.0
open3d==0.19.0
open_clip_torch==2.32.0
openai==1.88.0
opencv-python==4.11.0.86
opendatalab==0.0.10
openmim==0.3.9
openxlab==0.1.2
ordered-set==4.1.0
orjson==3.10.18
oss2==2.17.0
packaging==24.2
pandas==2.2.3
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
pillow==11.0.0
platformdirs==4.3.8
plotly==6.0.1
plyfile==1.1.2
portalocker==3.1.1
prompt_toolkit==3.0.51
protobuf==6.31.0
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pycocotools==2.0.8
pycparser==2.22
pycryptodome==3.22.0
pydantic==2.10.6
pydantic_core==2.27.2
pydub==0.25.1
Pygments==2.19.1
pyparsing==3.2.3
pypng==0.20220715.0
pyquaternion==0.9.9
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-multipart==0.0.20
pytorch3d @ git+https://github.com/facebookresearch/pytorch3d.git@75ebeeaea0908c5527e7b1e305fbc7681382db47
pytz==2023.4
pyviz3d==0.4.0
PyYAML==6.0.2
pyzmq==26.4.0
referencing==0.36.2
regex==2024.11.6
-e git+https://github.com/liu115/renderpy@8d75ba5b2a152ddebf3e6074ba39a0045a1d8fa5#egg=renderpy
requests==2.28.2
retrying==1.3.4
rich==13.4.2
rpds-py==0.24.0
ruff==0.12.0
safehttpx==0.1.6
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.15.3
semantic-version==2.10.0
sentence-transformers==4.1.0
sentencepiece==0.2.0
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
stack-data==0.6.3
starlette==0.46.2
sympy==1.13.3
tabulate==0.9.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
termcolor==3.1.0
threadpoolctl==3.6.0
tiktoken==0.9.0
timm==1.0.15
tokenizers==0.21.1
tomli==2.2.1
tomlkit==0.13.3
torch==2.4.1+cu118
torchaudio==2.4.1+cu118
torchmetrics==1.2.0
torchvision==0.19.1+cu118
tornado==6.5
tqdm==4.65.2
traitlets==5.14.3
transformers==4.51.3
triton==3.0.0
typer==0.16.0
typing-inspection==0.4.1
typing_extensions==4.12.2
tzdata==2025.2
urllib3==1.26.20
uvicorn==0.34.3
wcwidth==0.2.13
websockets==15.0.1
Werkzeug==3.0.6
widgetsnbextension==4.0.14
yacs==0.1.8
yapf==0.43.0
zipp==3.21.0
